<table width=100% cellpadding=0 cellspacing=0>
 <tr>
  <td><font class="user_users_td_font">Nickname:</font></td>
  <td><font class="user_users_td_font">{_user_login_}</font></td>
 </tr>
 <tr>
  <td><font class="user_users_td_font">Name:</font></td>
  <td><font class="user_users_td_font">{_user_name_}</font></td>
 </tr>
 <tr>
  <td><font class="user_users_td_font">Geschlecht:</font></td>
  <td><font class="user_users_td_font">{_user_gender_}</font></td>
 </tr>
 <tr>
  <td><font class="user_users_td_font">Wohnort:</font></td>
  <td><font class="user_users_td_font">{_user_location_}</font></td>
 </tr>
 <tr>
  <td><font class="user_users_td_font">Geboren:</font></td>
  <td><font class="user_users_td_font">{_user_birth_}</font></td>
 </tr>
 <tr>
  <td><font class="user_users_td_font">Beruf:</font></td>
  <td><font class="user_users_td_font">{_user_work_}</font></td>
 </tr>
 <tr>
  <td colspan=2><hr></td>
 <tr>
  <td><font class="user_users_td_font">Homepage:</font></td>
  <td><font class="user_users_td_font">{_user_hp_}</font></td>
 </tr>
 <tr>
  <td><font class="user_users_td_font">ICQ:</font></td>
  <td><font class="user_users_td_font">{_user_icq_}</font></td>
 </tr>
 <tr>
  <td><font class="user_users_td_font">AIM:</font></td>
  <td><font class="user_users_td_font">{_user_aim_}</font></td>
 </tr>
 <tr>
  <td><font class="user_users_td_font">Yim:</font></td>
  <td><font class="user_users_td_font">{_user_yim_}</font></td>
 </tr>
 <tr>
  <td colspan=2><hr></td>
 <tr>
  <td><font class="user_users_td_font">Interessen:</font></td>
  <td><font class="user_users_td_font">{_user_interests_}</font></td>
 </tr>
 <tr>
  <td><font class="user_users_td_font">Mitglied seit:</font></td>
  <td><font class="user_users_td_font">{_reg_date_}</font></td>
 </tr>
</table>