<table cellpadding=5 cellspacing=0 width=100% class="main_table">
 <tr>
	<td align=left class="main_td_left"><font class="main_td_left_font">{_autor_}</font></td>
	<td align=center class="main_td_left"><font class="main_td_left_font">{_e[title]_}</font></td>
	<td align=right class="main_td_left"><font class="main_td_right_font"><font size=1>{_time_}</font> :: <font size=1><a href="index.php?section=user&stopheaderoutput_main=1&action=ugbdelete&id={_e[id]_}&uid={_uid_}">löschen</a></font></font></td
 </tr>
 <tr height=1></tr>
 <tr>
	<td colspan=3 class="main_td_right"><font class="main_td_right_font">{_e[text]_}</font></td>
 </tr>
</table>
<br>
