	.user_users_table { border:1 solid #aaaaaa; }
	.user_users_td_font { font-size:10;color:black; }
	.user_users1_td { background-color:#f0f0f0; }
	.user_users2_td { background-color:#c5c5c5; }
	.user_users3_td { background-color:#afafaf; }
