<tr>
	<td class="admin_td_left"><font class="admin_td_left_font"><input type=checkbox name="deletemod[{_right[id]]_}" value="{_right[id]_}"></font></td>
	<td class="admin_td_left"><font class="admin_td_left_font">{_user[user_name]_}</font></td>
	<td class="admin_td_left"><font class="admin_td_left_font">{_thesection[title]_}</font></td>
	<td class="admin_td_left"><font class="admin_td_left_font">{_board_}</font></td>
	<td class="admin_td_left"><font class="admin_td_left_font">{_right[is_admin]_}</font></td>
</tr>