<table cellpadding=5 cellspacing=1 class="main_table" width=100%>
 <tr>
	<th class="main_th" colspan=2 align=left><font class="main_th_font">Mitglieder Gästebuch von {_username_}</font></th>
 </tr>
</table>
<br>
{_bit_}

<table cellpadding=5 cellspacing=1 width=100% class="main_table">
<form action="{_REQUEST_URI_}" method=post>
<input type=hidden name="action" value="ugb_save">
<input type=hidden name="uid" value="{_uid_}">
 <tr>
	<th align=left colspan=2 class="main_th"><font class="main_th_font">Neuen Beitrag erstellen &nbsp;&nbsp;<font class="fail_text">{_fail_}</font></font></th>
 </tr>
 <tr>
	<td class="main_td_left"><font class="main_td_left_font">Benutzername:</font></td>
	<td class="main_td_right"><font class="main_td_right_font">{_loginname_}</font></td>
 </tr>
 <tr>
	<td class="main_td_left"><font class="main_td_left_font">Titel:</font></td>
	<td class="main_td_right"><font class="main_td_right_font"><input type=text name="form[title]" value="{_form[title]_}"></font></td>
 </tr>
 <tr>
	<td colspan=2 class="main_td_left"><font class="main_td_left_font">Text:</font></td>
 </tr>
 <tr>
	<td colspan=2 align=center class="main_td_right"><font class="main_td_right_font"><textarea cols=40 rows=10 name=form[text]>{_form[text]_}</textarea></font></td>
 </tr>
 <tr>
	<td align=center colspan=2 class="main_td_left"><input type=submit value="abschicken"></td>
 </tr>
</form>
</table>