<center>
<table cellpadding=5 width=40% cellspacing=1 class="main_table">
<form action="{_REQUEST_URI_}" method=post>
<input type=hidden name="key" value="{_key_}">
<input type=hidden name="action" value="savenewpassword">
{_session_form_}
 <tr>
	<th align=left colspan=2 class="main_th"><font class="main_th_font">Benutzer</font><font class="fail_text">&nbsp;&nbsp;&nbsp;&nbsp; {_fail_}</font></th>
 </tr>
 <tr>
	<td colspan=2 class="main_td_right"><font class="main_td_right_font">Bitte geben Sie ihr neues Passwort ein!</font></td>
 </tr>
 <tr>
	<td class="main_td_left"><font class="main_td_left_font">Benutzername:</font></td>
	<td class="main_td_right"><font class="special_text">{_user[user_name]_}</font></td>
 </tr>
 <tr>
	<td class="main_td_right"><font class="main_td_right_font">Neues Passwort:</font></td>
	<td class="main_td_right"><font class="main_td_right_font"><input type=password name="pass1"></font></td>
 </tr>
 <tr>
	<td class="main_td_left"><font class="main_td_left_font">Passwort bestätigen:</font></td>
	<td class="main_td_right"><font class="main_td_right_font"><input type=password name="pass2"></font></td>
 </tr>
 <tr>
	<td colspan=2 class="main_td_left" align=center><input type=submit value="speichern"></td>
 </tr>
</form>
</table>