<table cellpadding=5 cellspacing=1 class="main_table" width=100%>
 <tr>
	<th class="main_th" align=left colspan=4><font class="main_th_font"> Statistik </font></th>
 </tr>
 <tr valign=top>
	<td width=50% class="main_td">
		<table cellpadding=4 cellspacing=1 width=100%>
		 <tr valign=top>
			<td colspan=2 align=center><font class="main_td_font">Benutzer Eigenschaften</font></td>
		 </tr>
		 <tr valign=top>
			<td><font class="main_td_font">» <b>Benutzer:</b></font></td>
			<td><font class="main_td_font">{_login[user_name]_}</font></td>
		 </tr>
		 <tr valign=top>
			<td><font class="main_td_font">» <b>Uploader:</b></font></td>
			<td><font class="main_td_font"> {_upload_paths_} </font></td>
		 </tr>
		 <tr valign=top>
			<td><font class="main_td_font">» <b>Rechte:</b></font></td>
			<td><font class="main_td_font"> {_rights_} </font></td>
		 </tr>
		 <tr valign=top>
			<td><font class="main_td_font">» <b>Beliebtheit:</b></font></td>
			<td><font class="main_td_font"> {_rating_} </font></td>
		 </tr>
		</table>
	</td>
	<td width=50% class="main_td">
		<table cellpadding=4 cellspacing=1 width=100%>
		 <tr valign=top>
			<td colspan=2 align=center><font class="main_td_font">Aktivitäten</font></td>
		 </tr>
		 <tr valign=top>
			<td><font class="main_td_font">» <b>letzter Besuch.</b></font></td>
			<td><font class="main_td_font">{_lastvisit_}</font></td>
		 </tr>
		 <tr valign=top>
			<td><font class="main_td_font">» <b>Logins:</b></font></td>
			<td><font class="main_td_font">{_login[logins]_}</font></td>
		 </tr>
		 <tr valign=top>
			<td><font class="main_td_font">» <b>Neue Beiträge:</b></font></td>
			<td><font class="main_td_font">{_newforum_}</font></td>
		 </tr>
		 <tr valign=top>
			<td><font class="main_td_font">» <b>ungelesene PMs:</b></font></td>
			<td><font class="main_td_font">{_unreadpms_}</font></td>
		 </tr>
		</table>
	</td>
 </tr>

</table>
