<table cellpadding=0 cellspacing=0 width=100% height=100%>
 <tr valign=middle>
	<td align=center>
		<table cellpadding=5 cellspacing=1 class="main_table" width=100%>
		 <tr>
			<th colspan=2 class="main_th" align=left><font class="main_th_font">Userdetails von {_user[user_name]_}</th></font>
		 </tr>
		 <tr height=200 valign=top>
			<td width=30% class="user_users1_td" align=center valign=middle><font class="user_users_td_font"> {_avatar_} </font></td>
			<td class="user_users2_td"><font class="user_users_td_font"> {_user_infos_} </font></td>
		 </tr>
		 <tr height=50 valign=top>
			<td class="user_users1_td"><font class="user_users_td_font"> {_user_text_} </font></td>
			<td class="user_users2_td"><font class="user_users_td_font"> {_user_stats_} </font></td>
		 </tr>
		 <tr>
			<td colspan=2 class="user_users3_td">{_user_activ_}</td>
		 </tr>
		</table>
	</td>
 </tr>
</table>