<font class="main_font">
<center>
	<b>Mit der Registrierung / Nutzung diese Portals erkennen sie folgende Regeln an:</b>
</center>

<ul>
  <li>	Die Registrierung für das Portal ist kostenlos</li>
  <li>	Die Admins und Moderatoren in dieser Community werden immer Sorge für
	eine geordnete Form der Kommunikation
	tragen,<br><b>somit sind Hinweise und Aufforderungen der
	Moderatoren / Admins strikt zu befolgen</b></li>
  <li>	Mit dem Vollenden der Registrierung erklären Sie Sich damit 
	einverstanden,<br>das Forum nicht für Obzönitäten, Vulgäres, 
	Beleidigungen, Propaganda (extremer) politischer Ansichten 
	oder (verbaler) Verstöße gegen das Gesetz zu missbrauchen.</li>
  <li>	Die Admin's und Moderatoren
	der Community haben das Recht ohne Angabe von Gründen Beiträge zu
	löschen, bearbeiten, verschieben, zu schließen.</li>
  <li>	User können ohne Angabe von
	Gründen aus der Community ausgeschlossen werden wenn ein Admin / Moderator dies
	für notwendig erachtet.</li>
  <li>Es ist ausdrücklich untersagt
	durch Manipulationsversuche , welcher Art auch immer, die Funktion / Inhalte
	des Portals zu stören / zu behindern.</font></li>

</ul>

<hr>
<center>
<b>Disclaimer:</b><br>
<font style="width=550;text-align: justify">
	Mit Urteil vom 12.Mai 1998 hat das Landgericht Hamburg 
	entschieden, dass man durch die Anbringung eines Links die Inhalte der gelinkten 
	Seite ggf. mit zu verantworten hat. Dies kann - so das LG - nur dadurch 
	verhindert werden, dass man sich ausdrücklich von diesen Inhalten distanziert. 
	Wir haben auf dieser Seite unserer Homepage Links zu anderen Seiten im Internet 
	gelegt. Für alle diese Links gilt: Wir möchten ausdrücklich betonen, dass wir 
	keinerlei Einfluss auf die Gestaltung und die Inhalte der gelinkten Seiten habe. 
	Deshalb distanzieren wir uns hiermit ausdrücklich von allen Inhalten aller 
	gelinkten Seiten auf dieser Homepage. Wir machen uns die Inhalte der Linkseiten 
	keinesfalls zu eigen. Diese Erklärung gilt für alle auf unserer Homepage 
	ausgebrachten Links. Die Webmaster, Admins und Moderatoren übernehmen keinerlei Haftung 
	für die Beiträge, die die Nutzer dieses Forums / Chats einbringen. Im Rahmen 
	ihrer technischen und personellen Möglichkeiten versuchen wir und die 
	Moderatoren jedoch, dieses durchzusetzen. Soweit wir die Moderatoren auf 
	Rechtsverletzende Inhalte in diesem Forum / Chat hingewiesen wird und es 
	den Moderatoren technisch möglich und zumutbar ist, deren Nutzung zu 
	verhindern (vgl. § 5 Abs. 2 Teledienstegesetz), wird die 
	Moderatoren die Inhalte unverzüglich entfernen und staatliche Stellen im Rahmen 
	der bestehenden Gesetze bei der Verfolgung von Straftaten unterstützen. Wir
	weist ausdrücklich darauf hin, daß auch das in Art. 5 Grundgesetz verbriefte 
	Recht der freien Meinungsäußerung seine Schranken in den Vorschriften der 
	allgemeinen Gesetze findet. Das ist keine Zensur! Jeder Nutzer erkennt durch 
	seine Teilnahme an diesem Forum / Chat diesen Disclaimer an. Jeder Nutzer hat 
	sich Rechtsverletzender Äußerungen zu enthalten, insbesondere Volksverhetzender, 
	rassistischer, pornografischer, beleidigender, obszöner und 
	geschäftsschädigender sowie solcher, die Anleitungen für Straftaten enthalten 
	oder zu Straftaten auffordern. Jeder Nutzer wird aufgefordert, den 
	Systemadministrator zu informieren, wenn ihm solche Äußerungen im Portal 
	bekannt werden. Jeder Nutzer dieses Forums / Chats, der gegen den 
	vorstehenden Disclaimer verstößt, sowie seine gesamten Beiträge werden außerdem 
	vom Systemadministrator gelöscht. Weiterhin wird ihm ein virtuelles Hausverbot 
	erteilt, das ihm auch künftig und unter anderem Namen oder Pseudonym den Zutritt 
	zur Community verbietet.
</font>
<hr>

<b>Haftungsausschluss</b>
<br><br>
<b>1. Inhalt des Onlineangebotes</B><br><br>
<font style="width=550;text-align: justify">
	DerAutor übernimmt keinerlei Gewähr für die Aktualität, Korrektheit, 
	Vollständigkeit oder Qualität der bereitgestellten Informationen. 
	Haftungsansprüche gegen den Autor, welche sich auf Schäden materieller oder 
	ideeller Art beziehen, die durch die Nutzung oder Nichtnutzung der dargebotenen 
	Informationen bzw. durch die Nutzung fehlerhafter und unvollständiger 
	Informationen verursacht wurden sind grundsätzlich ausgeschlossen, sofern 
	seitens des Autors kein nachweislich vorsätzliches oder grob fahrlässiges 
	Verschulden vorliegt. Alle Angebote sind freibleibend und unverbindlich. Der 
	Autor behält es sich ausdrücklich vor, Teile der Seiten oder das gesamte Angebot 
	ohne gesonderte Ankündigung zu verändern, zu ergänzen, zu löschen oder die 
	Veröffentlichung zeitweise oder endgültig einzustellen.
</font><BR>
<hr width=50%>
<B>2. Verweise und Links </B><BR><br>
<font style="width=550;text-align: justify">
	Bei direkten oder indirekten Verweisen auf fremde 
	Internetseiten ("Links"), die außerhalb des Verantwortungsbereiches des Autors 
	liegen, würde eine Haftungsverpflichtung ausschließlich in dem Fall in Kraft 
	treten, in dem der Autor von den Inhalten Kenntnis hat und es ihm technisch 
	möglich und zumutbar wäre, die Nutzung im Falle rechtswidriger Inhalte zu 
	verhindern. Der Autor erklärt daher ausdrücklich, dass zum Zeitpunkt der 
	Linksetzung die entsprechenden verlinkten Seiten frei von illegalen Inhalten 
	waren. Der Autor hat keinerlei Einfluss auf die aktuelle und zukünftige 
	Gestaltung und auf die Inhalte der gelinkten/verknüpften Seiten. Deshalb 
	distanziert er sich hiermit ausdrücklich von allen Inhalten aller gelinkten 
	/verknüpften Seiten, die nach der Linksetzung verändert wurden. Diese 
	Feststellung gilt für alle innerhalb des eigenen Internetangebotes gesetzten 
	Links und Verweise sowie für Fremdeinträge in vom Autor eingerichteten 
	Gästebüchern, Diskussionsforen und Mailinglisten. Für illegale, fehlerhafte oder 
	unvollständige Inhalte und insbesondere für Schäden, die aus der Nutzung oder 
	Nichtnutzung solcherart dargebotener Informationen entstehen, haftet allein der 
	Anbieter der Seite, auf welche verwiesen wurde, nicht derjenige, der über Links 
	auf die jeweilige Veröffentlichung lediglich verweist.
</font><BR>
<hr width=50%>
<B>3. Urheber- und Kennzeichenrecht </B><BR><br>
<font style="width=550;text-align: justify">
	Der Autor ist bestrebt, in allen Publikationen die 
	Urheberrechte der verwendeten Grafiken, Tondokumente, Videosequenzen und Texte 
	zu beachten, von ihm selbst erstellte Grafiken, Tondokumente, Videosequenzen und 
	Texte zu nutzen oder auf lizenzfreie Grafiken, Tondokumente, Videosequenzen und 
	Texte zurückzugreifen. Alle innerhalb des Internetangebotes genannten und ggf. 
	durch Dritte geschützten Marken- und Warenzeichen unterliegen uneingeschränkt 
	den Bestimmungen des jeweils gültigen Kennzeichenrechts und den Besitzrechten 
	der jeweiligen eingetragenen Eigentümer. Allein aufgrund der bloßen Nennung ist 
	nicht der Schluss zu ziehen, dass Markenzeichen nicht durch Rechte Dritter 
	geschützt sind! Das Copyright für veröffentlichte, vom Autor selbst erstellte 
	Objekte bleibt allein beim Autor der Seiten. Eine Vervielfältigung oder 
	Verwendung solcher Grafiken, Tondokumente, Videosequenzen und Texte in anderen 
	elektronischen oder gedruckten Publikationen ist ohne ausdrückliche Zustimmung 
	des Autors nicht gestattet.
</font><br>
<hr width=50%>
<B>4. Rechtswirksamkeit dieses Haftungsausschlusses </B><BR><br>
<font style="width=550;text-align: justify">
	Dieser Haftungsausschluss ist als Teil des 
	Internetangebotes zu betrachten, von dem aus auf diese Seite verwiesen wurde. 
	Sofern Teile oder einzelne Formulierungen dieses Textes der geltenden Rechtslage 
	nicht, nicht mehr oder nicht vollständig entsprechen sollten, bleiben die 
	übrigen Teile des Dokumentes in ihrem Inhalt und ihrer Gültigkeit davon 
	unberührt.
</font>
</font>

<br><hr><br>
<form action="{_REQUEST_URI_}" method=post name="term">
<input type=hidden name="show" value="newuser">
<input type=submit name="accept" value=" Ich akzeptiere " disabled>
<input type=button value=" Ich akzeptiere nicht " onclick="location.href='index.php';">
</form>
<script language="javascript">
<!--
	var t=15;
	function changeacceptbuttonvalue() {
		if(t>0) {
			document.forms.term.accept.value = ' Ich akzeptiere ( '+ t-- +' )';
			window.setTimeout("changeacceptbuttonvalue()",1000);
		} else {
			document.forms.term.accept.value = ' Ich akzeptiere ';
			document.forms.term.accept.disabled=false;
		}	
	}
	changeacceptbuttonvalue();
//-->
</script>

<hr>
