<center><form action="{_REQUEST_URI_}" method=post>
<input type=hidden name="section" value="admin">
<input type=hidden name="adminaction" value="newuser_save">
{_session_form_}
<table cellpadding="5" cellspacing="1" width=450 class="admin_table" border=0>
 <tr>
	<th colspan=3 class="admin_th" align=left><font class="admin_th_font">Anmeldung<font class="fail_text">&nbsp;&nbsp;{_fail_}</font></font></th>
 </tr>
 <tr>
	<td width=25% class="admin_td_left"><font class="admin_td_left_font">Benutzername:</font></td>
	<td class="admin_td_right"><font class="admin_td_left_font"><input type=text name="form[user_login]" value="{_form[user_login]_}" size=15></font></td>
 </tr>
 <tr>
	<td class="admin_td_left"><font class="admin_td_left_font">Name:</font></td>
	<td class="admin_td_right"><input type="text" name="form[user_name]" value="{_form[user_name]_}"></td>
 </tr>
 <tr>
	<td class="admin_td_left"><font class="admin_td_left_font">Passwort:</font></td>
	<td class="admin_td_right"><input type="text" name="form[user_password]" value="{_form[user_password]_}"></td>
 </tr>
 <tr>
	<td class="admin_td_left"><font class="admin_td_left_font">Reg eMail:</font></td>
	<td class="admin_td_right"><input type=text name="form[reg_email]" value="{_form[reg_email]_}" size="20"></td>
 </tr>
 <tr>
	<td class="admin_td_left"><font class="admin_td_left_font">eMail:</font></td>
	<td class="admin_td_right"><input type=text name="form[user_email]" value="{_form[user_email]_}" size="20"></td>
 </tr>
 <tr>
	<td class="admin_td_left"><font class="admin_td_left_font">Ort:</font></td>
	<td class="admin_td_right"><font class="admin_td_left_font"><input type=text name="form[user_location]" value="{_form[user_location]_}" size=40></font></td>
 </tr>
 <tr>
	<td class="admin_td_left"><font class="admin_td_left_font">ICQ: *</font></td>
	<td class="admin_td_right"><font class="admin_td_left_font">
		<input type=text name="form[user_icq]" value="{_form[user_icq]_}" size=40>
	</font></td>
 </tr>
 <tr>
	<td class="admin_td_left"><font class="admin_td_left_font">AIM: *</font></td>
	<td class="admin_td_right"><font class="admin_td_left_font">
		<input type=text name="form[user_aim]" value="{_form[user_aim]_}" size=40>
	</font></td>
 </tr>
 <tr>
	<td class="admin_td_left"><font class="admin_td_left_font">Yim: *</font></td>
	<td class="admin_td_right"><font class="admin_td_left_font">
		<input type=text name="form[user_yim]" value="{_form[user_yim]_}" size=40>
	</font></td>
 </tr>
 <tr>
	<td class="admin_td_left"><font class="admin_td_left_font">Homepage: *</font></td>
	<td class="admin_td_right"><font class="admin_td_left_font">
		<input type=text name="form[user_hp]" value="{_form[user_hp]_}" size=40>
	</font></td>
 </tr>
 <tr>
	<td class="admin_td_left"><font class="admin_td_left_font">Arbeit:</font></td>
	<td class="admin_td_right"><font class="admin_td_left_font">
		<input type=text name="form[user_work]" value="{_form[user_work]_}" size=40>
	</font></td>
 </tr>
 <tr valign=top>
	<td class="admin_td_left"><font class="admin_td_left_font">Interessen: *</font></td>
	<td class="admin_td_right"><font class="admin_td_left_font">
		<textarea name="form[user_interests]" cols=40 rows=5>{_form[user_interests]_}</textarea>
	</font></td>
 </tr>
 <tr valign=top>
	<td class="admin_td_left"><font class="admin_td_left_font">Signatur: *</font></td>
	<td class="admin_td_right"><font class="admin_td_left_font">
		<textarea name="form[user_signatur]" cols=40 rows=5>{_form[user_signatur]_}</textarea>
	</font></td>
 </tr>
 <tr valign=top>
	<td class="admin_td_left"><font class="admin_td_left_font">Bemerkungen: *</font></td>
	<td class="admin_td_right"><font class="admin_td_left_font">
		<textarea name="form[user_text]" cols=40 rows=5>{_form[user_text]_}</textarea>
	</font></td>
 </tr>
 <tr>
	<td class="admin_td_left"><font class="admin_td_left_font">Geburtstag:</font></td>
	<td class="admin_td_right"><font class="admin_td_left_font">
		<select name="form[birthday]">
			<option></option>
			<option>1</option>
			<option>2</option>
			<option>3</option>
			<option>4</option>
			<option>5</option>
			<option>6</option>
			<option>7</option>
			<option>8</option>
			<option>9</option>
			<option>10</option>
			<option>11</option>
			<option>12</option>
			<option>13</option>
			<option>14</option>
			<option>15</option>
			<option>16</option>
			<option>17</option>
			<option>18</option>
			<option>19</option>
			<option>20</option>
			<option>21</option>
			<option>22</option>
			<option>23</option>
			<option>24</option>
			<option>25</option>
			<option>26</option>
			<option>27</option>
			<option>28</option>
			<option>29</option>
			<option>30</option>
			<option>31</option>
		</select>
		<select name="form[birthmonth]">
			<option></option>
			<option>1</option>
			<option>2</option>
			<option>3</option>
			<option>4</option>
			<option>5</option>
			<option>6</option>
			<option>7</option>
			<option>8</option>
			<option>9</option>
			<option>10</option>
			<option>11</option>
			<option>12</option>
		</select>
		<input name="form[birthyear]" value="19" maxlength=4 size=5>
	</font></td>
 </tr>
 <tr>
	<td class="admin_td_left"><font class="admin_td_left_font">Geschlecht:</font></td>
	<td class="admin_td_right"><font class="admin_td_left_font">
		<select name="form[user_gender]">
			<option></option>
			<option value="1">männlich</option>
			<option value="2">weiblich</option>
		</select>
	</font></td>
 </tr>
 <tr>
	<td class="admin_td_left"><font class="admin_td_left_font"></font></td>
	<td class="admin_td_right"><font class="admin_td_left_font">
		*  Keine Pflichtfelder
	</font></td>
 </tr>

</table>
<br><center>

<font class="admin_td_left_font"><input type=submit value="Account erzeugen"></font>
</form>
