<table cellpadding=5 cellspacing=1 class="main_table" width=100%>
 <tr>
	<th colspan=6 align=left class="main_th"><font class="main_th_font">Übersicht</font></th>
 </tr>
 <tr>
	<td class="main_td"><font class="main_td_font"><a href="index.php?section=user&show=listusers&order=user_name&sort={_sort[user_name]_}&start={_start_}">Name</a></font></td>
	<td class="main_td"><font class="main_td_font">Msg</font></td>
	<td class="main_td"><font class="main_td_font">Email</font></td>
	<td class="main_td"><font class="main_td_font"><a href="index.php?section=user&show=listusers&order=user_hp&sort={_sort[user_hp]_}&start={_start_}">Homepage</a></font></td>
	<td class="main_td"><font class="main_td_font"><a href="index.php?section=user&show=listusers&order=user_icq&sort={_sort[user_icq]_}&start={_start_}">ICQ</a></font></td>
	<td class="main_td"><font class="main_td_font"><a href="index.php?section=user&show=listusers&order=points&sort={_sort[points]_}&start={_start_}">Punkte</a></font></td>


{_pages_}
{_userlist_}
{_pages_}

</table>