 <tr>
	<td class="main_td_right"><font class="main_td_right_font"> {_user_name_} </font></td>
	<td class="main_td_left"><font class="main_td_left_font"> <a href="#" onclick="open_newomsg({_user[id]_})">OMsg</a> </font></td>
	<td class="main_td_right"><font class="main_td_right_font"> {_user_email_} </font></td>
	<td class="main_td_left"><font class="main_td_left_font"> {_user_hp_} </font></td>
	<td class="main_td_right"><font class="main_td_right_font"> {_user_icq_} </font></td>
	<!--
	<td class="main_td_left"><font class="main_td_left_font"> {_user_aim_} </font></td>
	<td class="main_td_left"><font class="main_td_left_font"> {_user_yim_} </font></td>
	-->
	<td class="main_td_left"><font class="main_td_left_font"> {_user[points]_} </font></td>
 </tr>
