<table cellpadding=5 cellspacing=1 class="main_table" width=100%>
<form action="{_REQUEST_URI_}" method=post>
<input type=hidden name="section" value="user">
<input type=hidden name="action" value="sendpasswordkey">
 <tr>
	<th colspan=2 align=left class="main_th"><font class="main_th_font">Passwort vergessen ? &nbsp; &nbsp; &nbsp; <font class="fail_text">{_fail_}</font></font></th>
 </tr>
 <tr>
	<td class="main_td_left"><font class="main_td_left_font">eMail:</font></td>
	<td class="main_td_right"><font class="main_td_right_font"><input type=text name="form[reg_email]" value="{_form[reg_email]_}" size=25></font></td>
 </tr>
 <tr>
	<td class="main_td_right"><font class="main_td_right_font">Passwort:</font></td>
	<td class="main_td_right"><font class="main_td_right_font">Sie erhalten eine 
		Email mit einem Link und einer Berechtigungsnummer mit der Sie ihr Passwort ändern können.</font></td>
 </tr>
	<td class="main_td_left" align=center colspan=2><input type=submit value="Abschicken"></td>
 </tr>
</form>
</table>