 <tr>
	<td align=center class="sworaconfig_td_left"><input type=checkbox name="smiliecheckbox[{_s[id]]_}" value="{_s[id]_}"></th>
	<td align=center class="sworaconfig_td_right"><font class="sworaconfig_td_left_font"><b>{_s[stext]_}</b></font></th>
	<td align=center class="sworaconfig_td_left"><font class="sworaconfig_td_right_font"><img src="images/smilies/{_s[sfile]_}"></font></th>
	<td align=center class="sworaconfig_td_right"><font class="sworaconfig_td_right_font">images/smilies/{_s[sfile]_}</font></th>
 </tr>
