 <tr>
	<td class="admin_td_left"><font class="admin_td_left_font"><input type=checkbox name="checkbox[{_result[name]_}]" value="{_result[name]_}"></font></td>
	<td class="admin_td_right"><font class="admin_td_right_font"><a href="index.php?section=admin&adminaction=limittraffic_edit&lid={_result[name]_}">Limit bei <b>{_size[size]_}</b> {_size[value]_}</a></font></td>
	<td class="admin_td_left"><font class="admin_td_left_font"><a href="index.php?section=admin&adminaction=limittraffic_edit&lid={_result[name]_}">Traffic für {_re[2]_} {_re[3]_}s</a></font></td>
	<td class="admin_td_right"><font class="admin_td_right_font">{_secname[title]_}</font></td>
 </tr>