 <tr>
	<td width=1 class="admin_td_right"><input type=checkbox name="checkbox[{_server[id]_}]" value="{_server[id]_}"></td>
	<td class="admin_td_left"><font class="admin_td_left_font"><a href="index.php?section=admin&adminaction=edit_ftp&fid={_server[id]_}">{_server[title]_}</a></font></td>
	<td class="admin_td_right"><font class="admin_td_right_font"><a href="index.php?section=admin&adminaction=edit_ftp&fid={_server[id]_}">{_server[host]_}</a></font></td>
	<td class="admin_td_left"><font class="admin_td_left_font"><a href="index.php?section=admin&adminaction=edit_ftp&fid={_server[id]_}">{_server[port]_}</a></font></td>
	<td class="admin_td_right"><font class="admin_td_right_font"><a href="index.php?section=admin&adminaction=edit_ftp&fid={_server[id]_}">{_server[user]_}</a></font></td>
	<td class="admin_td_left"><font class="admin_td_left_font"><a href="index.php?section=admin&adminaction=edit_ftp&fid={_server[id]_}">{_server[path]_}</a></font></td>
 </tr>
