 <tr>
	<td width=1% class="admin_td_left"><font class="admin_td_left_font"><input type=checkbox name="checkbox[{_error[id]]_}" value="{_error[id]_}"></font></td>
	<td width=70% class="admin_td_left"><font class="admin_td_left_font">{_error[text]_}</font></td>
	<td width=10% class="admin_td_right"><font class="admin_td_right_font"><a href="{_error[request_uri]_}">REQUEST_URI</a></font></td>
	<td width=12% class="admin_td_left"><font class="admin_td_left_font">{_error[scriptname]_}</font></td>
	<td width=12% class="admin_td_right"><font class="admin_td_right_font">{_error[line]_}</font></td>
 </tr>