<center>
{_autosetup_}
<br><br>
{_reg_}
<br><br>
<table cellpadding=5 cellspacing=1 width=450>
 <tr>
	<th colspan=2 align=left class="admin_th"><font class="adminth_font"><a href="#" onclick="open_help('admin.main.system');"><img src="images/icons/info.gif" border=0 alt="Info"></a> » Swora-System </font></th>
 </tr>
 <tr>
	<td class="admin_td_left"><font class="admin_td_left_font"> Version: </font></td>
	<td class="admin_td_right"><font class="admin_td_left_font"> <b> {_version[swora]_} </b></font></td>
 </tr>
 <tr>
	<td class="admin_td_left"><font class="admin_td_left_font"> Idee & Entwicklung: </font></td>
	<td class="admin_td_right"><font class="admin_td_left_font"> <b> XeRoc </b></font></td>
 </tr>
 <tr>
	<td class="admin_td_left"><font class="admin_td_left_font"> Grafik & Layout: </font></td>
	<td class="admin_td_right"><font class="admin_td_left_font"> <b> XeRoc </b></font></td>
 </tr>
 <tr>
	<td class="admin_td_left"><font class="admin_td_left_font"> Support & Foren: </font></td>
	<td class="admin_td_right"><font class="admin_td_left_font"> <b> XeRoc | Adrian </b></font></td>
 </tr>
 <!--
 <tr>
	<td class="admin_td_left"><font class="admin_td_left_font"><b>Ihre SerialId: </b></font></td>
	<td class="admin_td_right"><font class="admin_td_left_font"> {_config[serialid]_} </font></td>
 </tr>
 //-->
</table>

<br><br>

<table cellpadding=5 cellspacing=1 width=450>
 <tr>
	<th colspan=2 align=left class="admin_th"><font class="adminth_font"><a href="#" onclick="open_help('admin.main.statistik');"><img src="images/icons/info.gif" border=0 alt="Info"></a> » Statistik </font></th>
 </tr>
 <tr>
	<td class="admin_td_left"><font class="admin_td_left_font" color=red><b>Aufgetretene Fehler: </b></font></td>
	<td class="admin_td_right"><font class="admin_td_left_font" color=red><b>{_count_errors_}</b></font></td>
 </tr>
 <tr>
	<td width=40% class="admin_td_left"><font class="admin_td_left_font"><b>Mitglieder: </b></font></td>
	<td class="admin_td_right"><font class="admin_td_left_font"> {_count_members_} </font></td>
 </tr>
 <tr>
	<td class="admin_td_left"><font class="admin_td_left_font"> &nbsp;&nbsp; davon gesperrt: </font></td>
	<td class="admin_td_right"><font class="admin_td_left_font"> {_count_blockedmembers_} </font></td>
 </tr>
 <tr>
	<td class="admin_td_left"><font class="admin_td_left_font"> &nbsp;&nbsp; davon nicht aktiviert: </font></td>
	<td class="admin_td_right"><font class="admin_td_left_font"> {_count_incativemembers_} </font></td>
 </tr>
<!-- ########### -->
 <tr>
	<td class="admin_td_left"><font class="admin_td_left_font"><b>Module: </b></font></td>
	<td class="admin_td_right"><font class="admin_td_left_font"> {_count_sections_} </font></td>
 </tr>
 <tr>
	<td class="admin_td_left"><font class="admin_td_left_font"> &nbsp;&nbsp; davon nicht aktiviert: </font></td>
	<td class="admin_td_right"><font class="admin_td_left_font"> {_count_incativesections_} </font></td>
 </tr>



</table>

</body>

</html>
