<tr>
	<td class="{_bgstyle_}"><input type=checkbox name="checkbox[cat][{_cat[id]]_}"></td>
	<td>
		<select name="form[sort]" onchange="savelinksort({_cat[id]_},this.value);">
			<option value="1"{_l1_}>1
			<option value="2"{_l2_}>2
			<option value="3"{_l3_}>3
			<option value="4"{_l4_}>4
			<option value="5"{_l5_}>5
			<option value="6"{_l6_}>6
			<option value="7"{_l7_}>7
			<option value="8"{_l8_}>8
			<option value="9"{_l9_}>9
			<option value="10"{_l10_}>10
			<option value="11"{_l11_}>11
			<option value="12"{_l12_}>12
			<option value="13"{_l13_}>13
			<option value="14"{_l14_}>14
			<option value="15"{_l15_}>15
		</select>
	</td>
	<td><font><a href="{_REQUEST_URI_}&adminaction=link_edit&linkid={_cat[id]_}"><i>HTML-Code</i></a></td>
</tr>
