<center><table cellpadding=5 cellspacing=1 class="admin_table" width=50%>
 <tr>
	<th colspan=2 class="admin_th" align=left><font class="admin_th_font"><a href="#" onclick="open_help('admin.module.swora.traffic');"><img src="images/icons/info.gif" border=0 alt="Info"></a> :: Traffic</font></th>
 </tr>
 <tr>
	<td width=300 class="admin_td_right"><font class="admin_td_right_font">Insgesamt erzeugter Traffic</font></td>
	<td class="admin_td_left" align=right><font class="admin_td_left_font"><font color=red><b>{_sizeof_alltraffic[size]_}</b></font> {_sizeof_alltraffic[value]_}<br></font></td>
 </tr>
 <tr>
	<td width=300 class="admin_td_right"><font class="admin_td_right_font">ø Wöchentlich</font></td>
	<td class="admin_td_left" align=right><font class="admin_td_left_font"><font color=red><b>{_sizeof_perday[size]_}</b></font> {_sizeof_perday[value]_}<br></font></td>
 </tr>
</table>
<br><br><br>
<table cellpadding=5 cellspacing=1 class="admin_table" width=100%>
 <tr>
	<th colspan=3 class="admin_th" align=left><font class="admin_th_font"><a href="#" onclick="open_help('admin.module.swora.traffic');"><img src="images/icons/info.gif" border=0 alt="Info"></a> :: Details</font></th>
 </tr>
{_trafficbits_}
{_pages_}
</table>