<html>

<head>
<title>Swora Config Center</title>
</head>

<frameset framespacing="0" border="0" frameborder="no" cols="170,*">
    <frame name="menue" marginwidth="0" src="{_REQUEST_URI_}&frame=left" 	marginheight="0" scrolling="auto" noresize >
    <frame name="main" 			src="{_REQUEST_URI_}&frame=main" 	scrolling="auto" frameborder="yes">

  <noframes>
  	<body>
	  <p>
		Diese Seite verwendet Frames. Frames werden von Ihrem Browser aber nicht 
	 	unterstützt.
	  </p>
	  </body>
  </noframes>


</frameset>

</html>