<center>

<table cellpadding=5 cellspacing=1 class="admin_table">
 <tr>
	<th colspan=3 align=left class="admin_th"><font class="admin_th_font"><a href="#" onclick="open_help('admin.module.swora.updates');"><img src="images/icons/info.gif" border=0 alt="Info"></a> :: aktuelle Updates</font></th>
 </tr>
{_notinstalledt_}
</table>

<br><br>

<table cellpadding=5 cellspacing=1 class="admin_table">
 <tr>
	<th colspan=3 align=left class="admin_th"><font class="admin_th_font"><a href="#" onclick="open_help('admin.module.swora.updates.done');"><img src="images/icons/info.gif" border=0 alt="Info"></a> :: installierte Updates</font></th>
 </tr>
{_installedt_}
</table>


<br><br><br>


<table cellpadding=5 cellspacing=1 class="admin_table">
<form action="{_REQUEST_URI_}" method=post>
<input type=hidden name="adminaction" value="updates_new">
 <tr>
	<th class="admin_th" align=left><font class="admin_th_font"><a href="#" onclick="open_help('admin.module.swora.updates.online');"><img src="images/icons/info.gif" border=0 alt="Info"></a> :: Online Update</font></th>
 </tr>
 <tr>
	<td class="admin_td_left"><font class="admin_td_font">
		<input type=submit value="OnlineUpdate durchführen" onclick="alert('This Feature is not available right now');return false;">
	</font></td>
 </tr>
</form>
</table>