<center>
<table cellpadding=5 cellspacing=1 width=400 class="admin_table">
<form action="{_REQUEST_URI_}" method=post>
<input type=hidden name="subaction" value="save_new_banner">
 <tr>
	<th align=left colspan=2 class="admin_th"><font class="admin_th_font"><a href="#" onclick="open_help('admin.module.banner.new');"><img src="images/icons/info.gif" border=0 alt="Info"></a> :: Neuer Banner &nbsp; &nbsp; <font class="fail_text">{_fail_}</font></font></th>
 </tr>
 <tr>
	<td class="admin_td_left"><font class="admin_td_left_font">Titel</td>
	<td class="admin_td_right"><font class="admin_td_right_font"><input type=text name="form[title]" value="{_form[title]_}"></td>
 </tr>
 <tr valign=top>
	<td class="admin_td_left"><font class="admin_td_left_font">QuellCode</td>
	<td class="admin_td_right"><font class="admin_td_right_font"><textarea rows=5 cols=40 name="form[sourcecode]">{_form[sourcecode]_}</textarea></td>
 </tr>
 <tr>
	<td align=center colspan=2 class="admin_td_right"><font class="admin_td_right_font"><input type=submit value="Erstellen"></td>
 </tr>
</form>
</table>

<br><br>

<table cellpadding=5 cellspacing=1 width=450 class="admin_table">
<form action="{_REQUEST_URI_}" method=post>
<input type=hidden name="subaction" value="delete_banner">
 <tr>
	<th colspan=2 align=left class="admin_th"><font class="admin_th_font"><a href="#" onclick="open_help('admin.module.banner.delete');"><img src="images/icons/info.gif" border=0 alt="Info"></a> :: Banner</font></th>
 </tr>

{_bannerbits_}

 <tr>
	<td align=center colspan=2 class="admin_td"><font class="admin_td"><input type=submit value="Auswahl löschen"></td>
 </tr>
</form>
</table>