 <tr>
	<th class="menu_th" align=left><a href="#" onclick="open_help('admin.modules.swora');"><img src="images/icons/info.gif" border=0 alt="Info"></a> :: Swora</th>
 </tr>
 <tr>
	<td class="menu_td" align=left>» <a href="index.php?section=admin&frame=main" target="main">Start Seite</a></th>
 </tr>
 <tr>
	<td class="menu_td" align=left>» <a href="index.php?section=admin&adminaction=mainconfig" target="main">Konfiguration</a></th>
 </tr>
 <tr>
	<td class="menu_td" align=left>» <a href="index.php?section=admin&adminaction=bannes" target="main">Verbannung</a></th>
 </tr>
 <tr>
	<td class="menu_td" align=left>» <a href="index.php?section=admin&adminaction=htmlcode" target="main">Html Code</a></th>
 </tr>
 <tr>
	<td class="menu_td" align=left>» <a href="index.php?section=admin&adminaction=sections" target="main">Module</a></th>
 </tr>
 <tr>
	<td class="menu_td" align=left>» <a href="index.php?section=admin&adminaction=menu_new" target="main">Menu erweitern</a></th>
 </tr>
 <tr>
	<td class="menu_td" align=left>» <a href="index.php?section=admin&adminaction=menu_edit" target="main">Menu bearbeiten</a></th>
 </tr>
 <tr>
	<td class="menu_td" align=left>» <a href="index.php?section=admin&adminaction=smilies" target="main">Smilies</a></th>
 </tr>
 <tr>
	<td class="menu_td" align=left>» <a href="index.php?section=admin&adminaction=points" target="main">Punkte System</a></th>
 </tr>
 <!--<tr>
	<td class="menu_td" align=left>» <a href="index.php?section=admin&adminaction=help" target="main">Hilfe System</a></th>
 </tr>//-->
 <tr>
	<td class="menu_td" align=left>» <a href="index.php?section=admin&adminaction=errors" target="main">Fehler</a></th>
 </tr>
 <tr>
	<td class="menu_td" align=left>» <a href="index.php?section=admin&adminaction=ftps" target="main">Ftp-Accounts</a></th>
 </tr>
 <!--<tr>
	<td class="menu_td" align=left>» <a href="index.php?section=admin&adminaction=tables" target="main">Db-Tables</a></th>
 </tr>//-->
 <tr>
	<td class="menu_td" align=left>» <a href="index.php?section=admin&adminaction=new_hack" target="main">Hacks</a></th>
 </tr>
 <tr>
	<td class="menu_td" align=left>» <a href="index.php?section=admin&adminaction=update" target="main">Update</a></th>
 </tr>
 <tr>
	<th class="menu_th" align=left><a href="#" onclick="open_help('admin.module.traffic');"><img src="images/icons/info.gif" border=0 alt="Info"></a> :: Traffic</th>
 </tr>
 <tr>
	<td class="menu_td" align=left>» <a href="index.php?section=admin&adminaction=traffic" target="main">Traffic anzeigen</a></th>
 </tr>
 <tr>
	<td class="menu_td" align=left>» <a href="index.php?section=admin&adminaction=limittraffic" target="main">Traffic beschrenken</a></th>
 </tr>
