<center>
<table cellpadding=5 cellspacing=1 class="admin_table" width=80%>
 <tr>
	<th class="admin_th" colspan=2 align=left><font class="admin_th_font"><a href="#" onclick="open_help('admin.autoinstall');"><img src="images/icons/info.gif" border=0 alt="Info"></a> :: Automatische Installation</font></th>
 </tr>
 <tr>
	<td colspan=2 align=center class="admin_td_right"><font class="admin_td_right_font">
		Es wurde ein Modul gefunden, welches noch nicht ins System integriert wurde.<br>
		Sie können es nun Installieren.
	</font></td>
 </tr>
{_installs_}
</table>