 <tr>
	<th class="menu_th" align=left><a href="#" onclick="open_help('admin.modules.user');"><img src="images/icons/info.gif" border=0 alt="Info"></a> :: User</th>
 </tr>
 <tr>
	<td class="menu_td" align=left>» <a href="{_REQUEST_URI_}&adminaction=newuser" target="main">Neues Mitglied erstellen</a></th>
 </tr>
 <tr>
	<td class="menu_td" align=left>» <a href="{_REQUEST_URI_}&adminaction=showusers" target="main">Mitglieder bearbeiten</a></th>
 </tr>
 <tr>
	<td class="menu_td" align=left>» <a href="{_REQUEST_URI_}&adminaction=rights" target="main">Moderation</a></th>
 </tr>
 <tr>
	<td class="menu_td" align=left>» <a href="{_REQUEST_URI_}&adminaction=useruploader" target="main">Uploads erlauben</a></th>
 </tr>
 <tr>
	<td class="menu_td" align=left>» <a href="{_REQUEST_URI_}&adminaction=blockinactiv" target="main">blockieren/deaktivieren</a></th>
 </tr>
 <tr>
	<td class="menu_td" align=left>» <a href="{_REQUEST_URI_}&adminaction=newsletter" target="main">Newsletter</a></th>
 </tr>