<table width=100% cellpadding=5 cellspacing=0 class="fail_table">
 <tr>
	<th align=left class="fail_th"><font class="fail_th_font">Kein gültiges Modul</font></th>
 </tr>
	<td class="fail_td">
		<table cellpadding=0 cellspacing=0 width=100%>
		 <tr>
			<td>
				<img src="./images/icons/cross.gif">
			</td>
			<td><font class="fail_td_font">
				Das angegebene Modul ist nicht verfügbar.<br><br>
				Die möglichen Ursachen:
				<ol>
					<li>Es wurde noch kein Modul mit diesem Namen installiert.</li>
					<li>Das Modul wurde vorübergehend aus der Datenbank gestrichen.</li>
				</ol>
				Für Anregungen kontaktieren Sie bitte den <a href="index.php?section=contact&who=webmaster">Webmaster</a> !
				</font>
			</td>
		 </tr>
		</table>
	</td>
 </tr>
</table>