<table width=100% cellpadding=5 cellspacing=0 class="fail_table">
 <tr>
	<th align=left class="fail_th"><font class="fail_th_font">Außer Betrieb</font></th>
 </tr>
	<td class="fail_td">
		<table cellpadding=0 cellspacing=0 width=100%>
		 <tr>
			<td>
				<img src="./images/icons/cross.gif">
			</td>
			<td><font class="fail_td_font">
				Dieses Modul wurde vorrübergehend aus dem Betrieb genommen.<br><br>
				Die möglichen Ursachen:
				<ol>
					<li>Das Modul wird zur Zeit überarbeitet.</li>
					<li>Das Modul wurde von Mitgliedern unsachgemäß behandelt.</li>
					<li>Es liegt ein gravierender Fehler in der Programmierung vor.</li>
				</ol>
			    </font>
			</td>
		 </tr>
		</table>
	</td>
 </tr>
</table>