<table width=100% cellpadding=5 cellspacing=0 class="fail_table">
 <tr>
	<th align=left class="fail_th"><font class="fail_th_font">Account gesperrt</font></th>
 </tr>
	<td>
		<table cellpadding=0 cellspacing=0 width=100%>
		 <tr>
			<td>
				<img src="./images/icons/cross.gif">
			</td>
			<td class="fail_td"><font class="fail_td_font">
				Der Zungang wurde vorrübergehen <b>gesperrt</b>.
				Die möglichen Ursachen:
				<ol>
					<li>Sie haben gegen die Benutzerrechte verstoßen.</li>
					<li>Sie wurden von einem anderen Mitglied gemeldet und daraufhin gesperrt.</li>
				</ol>
				<br><br>

				Bei Beschwerden weden Sie sich bitte an die <a href="index.php?section=contactadmins">Administratoren</a>.
				</font>
			</td>
		 </tr>
		</table>
	</td>
 </tr>
</table>