<table height=100% width=100%>
 <tr valign=middle>
	<td align=center>
		<table width=50% cellpadding=5 cellspacing=0 class="fail_table">
		 <tr>
			<th align=left class="fail_th"><font class="fail_th_font">Zugang gesperrt</font></th>
		 </tr>
			<td class="fail_td"><font class="fail_td_font">
			Ihr Zugang zur Seite wurde ihnen verwehrt:
			<br><br>
			Ip: <b>{_oip_}</b>
			<br>
			Host: <b>{_ohost_}</b>
			<br><br>
			Bitte wenden Sie sich an den Administrator.
			</font></td>
		 </tr>
		</table>
	</td>
 </tr>
</table>