<table width=100% cellpadding=5 cellspacing=0 class="fail_table">
 <tr>
	<th align=left class="fail_th"><font class="fail_th_font">Modul Einstellung fehlerhaft</font></th>
 </tr>
	<td class="fail_td">
		<table cellpadding=0 cellspacing=0 width=100%>
		 <tr>
			<td>
				<img src="./images/icons/cross.gif">
			</td>
			<td><font class="fail_td_font">
				Die Einstellung für dieses Modul ist fehlerhaft.<br><br>
				Die möglichen Ursachen:
				<ol>
					<li>Das angegeben Modul konnte im System nicht aufgefunden werden.</li>
				</ol>
				Bitte Verständigen Sie den <a href="index.php?section=contact&who=webmaster">Webmaster</a> !
			    </font>
			</td>
		 </tr>
		</table>
	</td>
 </tr>
</table>