<table width=100% cellpadding=5 cellspacing=0 class="fail_table">
 <tr>
	<th colspan=2 align=left class="fail_th"><font class="fail_th_font">Gesch&uuml;tzter Bereich</font></th>
 </tr>
 <tr>
	<td class="fail_td">
		<table cellpadding=0 cellspacing=0 width=100%>
		 <tr>
			<td>
				<img src="./images/icons/cross.gif">
			</td>
			<td><font class="fail_td_font">
				Der Zugang wurde ihnen <b>verweigert</b>.
		
				Die m&ouml;glichen Ursachen:
				<ol>
					<li>Sie sind nicht eingeloggt.</li>
					<li>Sie haben nicht die Befugnis diesen Bereich zu betreten.</li>
					<li>Ihre Befugnis wurde einstweilig gesperrt.</li>
				</ol>
			    </font>
			</td>
		 </tr>
		</table>
	</td>
 </tr>
</table>
