<tr>
 <td class="admin_td_right"><input type=checkbox name="checkbox[{_load[id]]_}" value="{_load[id]_}"> </td>
 <td class="admin_td_left"><font class="admin_td_left_font"> {_load[title]_} </font></td>
 <td class="admin_td_right"><font class="admin_td_right_font"> {_load[file]_} </font></td>
 <td class="admin_td_left"><font class="admin_td_left_font"> {_load[loads]_} </font></td>
 <td class="admin_td_right"><font class="admin_td_right_font"> {_fungi_} </font></td>
 <td class="admin_td_left"><font class="admin_td_left_font"> <a target="_blank" href="index.php?section=loader&cat={_load[title]_}">hier</a> </font></td>
</tr>