<center>
<table cellpadding="5" cellspacing="0">
<form action="{_REQUEST_URI_}" method=post>
 <tr>
	<th colspan=5 class="admin_th" align=left><font class="admin_th_font">Aktions</font></th>
 </tr>
 <tr>
	<td class="admin_subaction_td"><input type=submit name="adminaction_edit" 	value="Editieren"></td>
	<td class="admin_subaction_td"><input type=submit name="adminaction_in_activate" value="{_activ_}"></td>
	<td class="admin_subaction_td"><input type=submit name="adminaction_block" 	value="{_block_}"></td>
	<td class="admin_subaction_td"><input type=submit name="adminaction_delete" 	value="löschen"></td>
	<td class="admin_subaction_td"><input type=submit name="adminaction_comments" 	value="Kommentare"></td>
 </tr>
</table></form>