<center><table cellpadding=5 cellspacing=1 width=450>
	<tr>
		<th colspan=4 class="admin_th" align=left><font class="admin_th_font">Aktion auswählen</font></th>
	</tr>
	<tr>
		<td class="admin_td"><font class="admin_td_font">Titel:  {_news[title]_}</font></td>
		<td class="admin_td"><font class="admin_td_font">Author: {_aut[user_name]_}</font></td>
		<td class="admin_td" align=right><font class="admin_td_font">{_news[date]_}</font></td>
	</tr>
	<tr>
		<td colspan=3 class="admin_td"><font class="admin_td_font">{_news[text]_}</font></td>
	</tr>
	<tr height=20><td></td></tr>
	<tr>
		<td colspan=3>
			{_subactioncontrol_}
		</td>
	</tr>

</table>