	.news_comment_td { background-color:#dfdfdf; }
	.news_comment_td_font { font-size:10;color:black;font-size:10 }
	.news_comment_th { background-color:#f5f5f5;border:1 solid #0099ab; }
	.news_comment_th_font { color:black;font-size:10; }
