 <tr>
	<td class="admin_td_left"><font class="admin_td_left_font">...für einen Beitrag im Forum</font></td>
	<td class="admin_td_right"><font class="admin_td_right_font"><input type=text name="form[p_forum_newpost]" value="{_config[p_forum_newpost]_}"></font></td>
 </tr>
 <tr>
	<td class="admin_td_left"><font class="admin_td_left_font">...für einen Neuen Thread im Forum</font></td>
	<td class="admin_td_right"><font class="admin_td_right_font"><input type=text name="form[p_forum_newthread]" value="{_config[p_forum_newthread]_}"></font></td>
 </tr>