	 <tr>
		<td align=left 	 width= 40% class="{_css_th_}"><font class="{_css_th_font_}">	<b>::</b> <a class="forum_board_link" href="index.php?section=forum&boardid={_board[id]_}">{_board[board_name]_}</a>&nbsp; &nbsp; &nbsp;</font><font class="main_td_left_font">{_board[board_comment]_}</font></font></td>
		<td align=center width= 10% class="{_css_td_}"><font class="{_css_td_font_}">	{_board[count_threads]_} Themen</font></td>
		<td align=center width= 10% class="{_css_td_}"><font class="{_css_td_font_}">	{_board[count_posts]_} Beiträge</font></td>
		<td align=right  width= 30% class="{_css_td_}"><font class="{_css_td_font_}">	{_lastposting_}</font></td>
	 </tr>
