<table cellpadding=0 cellspacing=1 width=100% class="main_table">
{_inc[verzeichnis]_}
 <tr>
 	<td>
	<table cellpadding="5" cellspacing="0" width="100%">
	 <tr>
		<td align=right class="thread_td"><font size=1> <<  {_inc[showpp]_}  >> </font></td>
	 </tr>
	</table>
	</td>
 </tr>
 <tr>
	<td>
		<table width=100% cellpadding=0 cellspacing=0 class="main_table">
		 <tr>
		 	<td class="thread_td">
				<table cellpadding=5 cellspacing=0 width=100%>
		  		 <tr>
					<th class="main_th" align=left><font class="main_th_font">Titel</font></th>
					<th class="main_th" align=center><font class="main_th_font">von</font></th>
					<th class="main_th" align=center><font class="main_th_font">Antworten</font></th>
					<th class="main_th" align=center><font class="main_th_font">Aufrufe</font></th>
					<th class="main_th" align=center><font class="main_th_font">Letzte Antwort</font></th>
		 		 </tr>

				{_incf[threadbit]_}
				</table>
			</td>
		 </tr>
		</table>
	</td>
 </tr>
 <tr>
 	<td>
	<table cellpadding="5" cellspacing="0" width="100%">
	 <tr>
		<td align=right class="thread_td"><font size=1> <<  {_inc[showpp]_}  >> </font></td>
	 </tr>
	</table>
	</td>
 </tr>
{_inc[verzeichnis]_}
</table>
