<tr>
	<td class="thread_td{_csstyle_}" width=200><font class="thread_td_font"><a href="{_REQUEST_URI_}&threadid={_thread[id]_}">{_thread[post_title]_}</a> &nbsp;&nbsp; {_inc[showpp]_}</font></td>
	<td class="thread_td{_csstyle_}" align=center><font class="thread_td_font">{_user_name_}</font></td>
	<td class="thread_td{_csstyle_}" align=center width=100><font class="thread_td_font">{_thread[count_replys]_}</font></td>
	<td class="thread_td{_csstyle_}" align=center width=100><font class="thread_td_font">{_thread[count_views]_}</font></td>
	<td class="thread_td{_csstyle_}" align=right><font class="thread_td_font">am {_lastdate_} von {_last_user_name_}</font></td>
</tr>
