<table cellpadding=0 cellspacing=1 width=100% class="main_table">

{_inc[verzeichnis]_}


 <tr>
 	<td>
	<table cellpadding="5" cellspacing="0" width="100%">
	 <tr>
		<td align=right class="thread_td"><font size=1> <<  {_inc[showpp]_}  >> </font></td>
	 </tr>
	</table>
	</td>
 </tr>

{_incf[posts]_}


 <tr>
 	<td>
	<table cellpadding="5" cellspacing="0" width="100%">
	 <tr>
		<td align=right class="thread_td"><font size=1> <<  {_inc[showpp]_}  >> </font></td>
	 </tr>
	</table>
	</td>
 </tr>

{_inc[verzeichnis]_}

</table>
