<tr>
	<td width=1% class="admin_td"></td>
	<td width=1% align=right class="admin_td"><input type=checkbox name="boardcheckbox[{_board[id]]_}"></td>
	<td width=1% class="admin_td">
		<select name="form[sort]" onchange="changesort(this.value,{_board[id]_})">
			<option value="1"{_b1_}>1
			<option value="2"{_b2_}>2
			<option value="3"{_b3_}>3
			<option value="4"{_b4_}>4
			<option value="5"{_b5_}>5
			<option value="6"{_b6_}>6
			<option value="7"{_b7_}>7
			<option value="8"{_b8_}>8
			<option value="9"{_b9_}>9
			<option value="10"{_b10_}>10
			<option value="11"{_b11_}>11
			<option value="12"{_b12_}>12
			<option value="13"{_b13_}>13
			<option value="14"{_b14_}>14
			<option value="15"{_b15_}>15
		</select>
	</td>
	<td class="admin_td"><font class="admin_td_font"><a href="{_REQUEST_URI_}&adminaction=forum_editboard&boardid={_board[id]_}">{_board[board_name]_}</a></font></td>
</tr>