<table cellpadding=5 cellspacing=1 class="main_table" width=100%>
 <tr>
	<th class="main_th" align=left><font class="main_th_font">Passwort geschützt &nbsp; &nbsp; &nbsp; <font class="fail_text">{_fail_}</font></font></th>
 </tr>
 <tr>
	<td class="forum_password"><font class="forum_password_font">
		Bei diesem Board handelt es sich um ein passwortgeschütztes Board.<br>
		Sie brauchen ein gültiges Passwort um Fortzufahren.
<br><br><br><center>
		<table cellpadding=5 cellspacing=0>
		<form action="{_REQUEST_URI_}" method=post>
		<input type=hidden name="section" value="forum">
		<input type=hidden name="action" value="checkpassword">
		 <tr>
			<td align=center><font class="forum_password_font">Password:</font></td>
			<td align=center><font class="forum_password_font"><input type=password name="form[boardpassword]" size=20></font></td>
		 </tr>
		 <tr>
			<td colspan=2 align=center><input type=submit value="Check"></td>
		 </tr>
		</table></center>
	</td>
 </tr>
</table>
