<center>
<table width=50% class="admin_table" cellpadding=5 cellspacing=1>
<form action="{_thispath_}" method=post>
<input type=hidden name="setupaction" value="uninstall_asked">
 <tr>
	<th align=left class="admin_th"><font class="admin_th_font">Deinstallation des Moduls "Forum"</font></th>
 </tr>
 <tr>
	<td class="admin_td_left"><font class="admin_td_left_font">
		Sind Sie sicher,<br>
		dass dieses Module und sämtliche damit verbundenen Daten gelöscht werden sollen ?
	</font></td>
 <tr>
	<td colspan=2 align=center class="admin_td_left">
		<input type=submit name="yes" value="Ja">
		<input type=submit name="no" value="Nein">
	</td>
 </tr>
</form>
</table>