<script laguage="javascript">
<!--
	window.parent.menue.location.reload();
//-->
</script>
<center>
<table cellpadding=5 cellspacing=1 class="admin_table" width=40%>
 <tr>
	<th class="admin_th" align=left><font class="admin_th_font">Deinstallation erfolgreich beendet</font></th>
 </tr>
 <tr>
	<td class="admin_td_left"><font class="admin_td_left_font">
		Das Modul "<b>Forum</b>" wurde 
		erfolgreich aus dem Portal entfernt.<br>
		Sie können die dazugehörigen Dateien nun sorglos löschen.
	</font></td>
 </tr>
</table>