<script laguage="javascript">
<!--
	window.parent.menue.location.reload();
//-->
</script>
<center>
<table cellpadding=5 cellspacing=1 class="admin_table" width=60%>
 <tr>
	<th colspan=2 class="admin_th" align=left><font class="admin_th_font">Installation erfolgreich abgeschlossen</font></th>
 </tr>
 <tr>
	<td colspan=2 class="admin_td_left">
		<font class="admin_td_left_font">
			Die Installation des Modules <b> "Forum" </b> wurde erfolgreich beendet.
			<br><br>
			Folgende Einstellungen müssen konfiguriert werden:
		</font>
	</td>
 </tr>
 <tr>
	<td class="admin_td_left"><font class="admin_td_left_font">Einstellungen für das Forum</font></td>
	<td class="admin_td_right"><font class="admin_td_right_font"><a href="index.php?section=admin&adminaction=forum_config" target="_blank">Hier</a></font></td>
 </tr>
 <tr>
	<td class="admin_td_left"><font class="admin_td_left_font">Erstellung von Kategorien und Boards</font></td>
	<td class="admin_td_right"><font class="admin_td_right_font"><a href="index.php?section=admin&adminaction=forum_boards" target="_blank">Hier</a></font></td>
 </tr>
 <tr>
	<td class="admin_td_left"><font class="admin_td_left_font">Punktevergabe Beiträge im Forum</font></td>
	<td class="admin_td_right"><font class="admin_td_right_font"><a href="index.php?section=admin&adminaction=points" target="_blank">Hier</a></font></td>
 </tr>
 <tr>
	<td class="admin_td_left"><font class="admin_td_left_font">Aktivierung des Moduls</font></td>
	<td class="admin_td_right"><font class="admin_td_right_font"><a href="index.php?section=admin&adminaction=sections" target="_blank">Hier</a></font></td>
 </tr>
 <tr>
	<td class="admin_td_left"><font class="admin_td_left_font">Linksetzung im Menu</font></td>
	<td class="admin_td_right"><font class="admin_td_right_font"><a href="index.php?section=admin&adminaction=menu_new" target="_blank">Hier</a></font></td>
 </tr>
</table>