<table width=100% cellpadding=5 cellspacing=1 class="main_table">
 <tr>
	<th colspan=2 align=left class="main_th"><font class="main_th_font"> :: Übersicht</font></th>
 </tr>
 <tr>
	<td colspan=2 class="main_td_left">
		<font class="main_td_left_font">
			»<a href="{_REQUEST_URI_}&show=userdetails">Userdetails</a>
		</font><br>
		<font class="main_td_bottom_font">
			Hier können Sie ihre Benutzerdaten einstellen.
		</font>
	</td>
 </tr>
 <tr>
	<td colspan=2 class="main_td_right">
		<font class="main_td_right_font">
			»<a href="{_REQUEST_URI_}&show=password">Passwort</a>
		</font><br>
		<font class="main_td_bottom_font">
			Hier können Sie ihre Passwort ändern.
		</font>
	</td>
 </tr>
 <tr>
	<td colspan=2 class="main_td_left">
		<font class="main_td_left_font">
			»<a href="{_REQUEST_URI_}&show=signatur">Signatur editieren</a>
		</font><br>
		<font class="main_td_bottom_font">
			Hier können Sie Änderungen an ihrer Signatur vornehmen.
		</font>
	</td>
 </tr>
 <tr>
	<td colspan=2 class="main_td_right">
		<font class="main_td_right_font">
			»<a href="{_REQUEST_URI_}&show=avatar">Avatar</a>
		</font><br>
		<font class="main_td_bottom_font">
			Laden Sie ihren Avatar auf unseren Server
		</font>
	</td>
 </tr>
 <tr>
	<td colspan=2 class="main_td_left">
		<font class="main_td_left_font">
			»<a href="{_REQUEST_URI_}&show=privacy">Optionen</a>
		</font><br>
		<font class="main_td_bottom_font">
			Feineinstellung ihres Benutzerkontos
		</font>
	</td>
 </tr>
<!--
 <tr>
	<td colspan=2 class="main_td_right">
		<font class="main_td_right_font">
			»<a href="{_REQUEST_URI_}&show=capacity">Kapazitäten</a>
		</font><br>
		<font class="main_td_bottom_font">
			Ihre Kapazitäten
		</font>
	</td>
 </tr>
//-->
 <tr height=10>
	<td class="main_td_right">
	</td>	
 </tr>
 <tr>
	<td colspan=2 class="main_td_left">
		<font class="main_td_left_font">
			»<a href="{_REQUEST_URI_}&show=deleteaccount">Konto löschen</a>
		</font><br>
		<font class="main_td_bottom_font">
			Hier können Sie die Mitgliedschaft bei uns beenden.
		</font>
	</td>
 </tr>
</table>