<center>
<table cellpadding=5 cellspacing=1 class="main_table">
<form action="{_REQUEST_URI_}" method=post>
<input type=hidden name="section" value="profil">
<input type=hidden name="action" value="savepassword">
{_session_form_}
 <tr>
	<th align=left colspan=3 class="main_th"><font class="main_th_font">Benutzerpasswort</font><font class="fail_text">&nbsp;&nbsp;&nbsp;&nbsp; {_fail_}</font></th>
 </tr>
 <tr>
	<td colspan=3 class="main_td_left"><font class="main_td_left_font">Bitte geben Sie ihr neues Passwort ein!</font></td>
 </tr>
 <tr>
	<td class="main_td_left"><font class="main_td_left_font">Benutzername:</font></td>
	<td class="main_td_right"><font class="special_text">{_user_name_}</font></td>
	<td class="main_td_right"><font class="main_td_right_font"></font></td>
 </tr>
 <tr>
	<td class="main_td_right"><font class="main_td_right_font">altes Password:</font></td>
	<td class="main_td_right"><font class="main_td_right_font"><input type=password name="pass0"></font></td>
	<td class="main_td_right"><font class="main_td_right_font"><a href="index.php?section=user&action=forgotnpasswordstep1">Passwort vergessen</a></font></td>
 </tr>
 <tr>
	<td class="main_td_left"><font class="main_td_left_font">Neues Password:</font></td>
	<td class="main_td_right"><font class="main_td_right_font"><input type=password name="pass1"></font></td>
	<td class="main_td_right"><font class="main_td_right_font"></font></td>
 </tr>
 <tr>
	<td class="main_td_right"><font class="main_td_right_font">Passwort bestätigen:</font></td>
	<td class="main_td_right"><font class="main_td_right_font"><input type=password name="pass2"></font></td>
	<td class="main_td_right"><font class="main_td_right_font"></font></td>
 </tr>
 <tr>
	<td colspan=3 class="main_td_left" align=center><font class="main_td_left_font"><input type=submit value="speichern"></font></td>
 </tr>
</form>
</table>