<table cellpadding=5 cellspacing=1 width=100% class="main_table">
<form action="{_REQUEST_URI_}" method=post enctype="multipart/form-data">
<input type=hidden name="action" value="save_avatar">
 <tr>
	<th align=left class="main_th"><font class="main_th_font">Avatar</font><font class="fail_text">&nbsp;&nbsp;&nbsp;&nbsp; {_fail_}</font></th>
 </tr>
 <tr>
	<td class="main_td_left" align=center>
		<font class="main_td_left_font"><i>- Der Upload eines Avatares wurde noch nicht konfiguriert. -</i></font>
	</td>
 </tr>
</table>

</form>
