<table cellpadding=5 cellspacing=1 width=100% class="main_table">
<form action="index.php?section=profil&action=deleteaccount" method=post>
 <tr>
	<th align=left class="main_th"><font class="main_th_font">Account löschen ?</font></th>
 </tr>
	<td class="main_td"><font class="main_td_font">

	Sind Sie sicher, dass sie Ihre Mitlgiedschaft bei {_title_} beenden wollen ?

	<br><br>
	<center>
	<table cellpadding=10 cellspacing=0>
	 <tr>
		<td width=120><input type=submit name="form[yes]" value="  Ja  "></td>
		<td><input type=submit name="form[no]" value=" Nein "></td>
	 </tr>
	</table></center>
	</font></td>
 </tr>
</form>
</table>
