<table width=100% cellpadding=5 cellspacing=0 class="fail_table">
 <tr>
	<th align=left class="fail_th"><font class="fail_th_font">404 :: Seite nicht gefunden</font></th>
 </tr>
	<td class="fail_td"><font class="fail_td_font">

	<b>Die angeforderte Seite konnte auf dem Server nicht gefunden werden</b>.<br><br>

	Mögliche Vorgehensweisen:
	<ol>
		<li>Überprüfen Sie die angegebene Address auf Gültigkeit. (Groß-/KleinSchreibung)</li>
		<li>Informieren Sie unseren <a href="index.php?section=contact&who=webmaster">Webmaster</a> und geben sie die Link und den Ursprung an</li>
		<!-- <li><a href="index.php?section=search">Suchen Sie die Datei auf der ganzen Seite.</a></li> //-->
	</ol>
	<br>
	</font></td>
 </tr>
</table>