<table width=100% cellpadding=5 cellspacing=0 class="fail_table">
 <tr>
	<th align=left class="fail_th"><font class="fail_th_font">500 :: Interner Fehler</font></th>
 </tr>
	<td class="fail_td"><font class="fail_td_font">

	<b> Auf Grund eines internen Fehlers konnte ihre Anfrage nicht bearbeitet werden .</b><br><br>

	Mögliche Vorgehensweisen:
	<ol>
		<li> Bitte informieren Sie unseren <a href="index.php?section=contact&who=webmaster">Webmaster</a></li>
	</ol>
	<br>
	</font></td>
 </tr>
</table>