<table width=100% cellpadding=5 cellspacing=0 class="fail_table">
 <tr>
	<th align=left class="fail_th"><font class="fail_th_font">DeadLink</font></th>
 </tr>
	<td class="fail_td"><font class="fail_td_font">

	<b>Das angegbene Ziel ist leider nicht erreichbar.</b><br>
	Die Administratoren wurden soeben über diese "DeadLink" informiert.<br><br>
	Falls Sie sich dennoch bei uns melden möchten können sie das <a href="index.php?section=contact&who=webmaster">hier</a> tun.
	

	</font></td>
 </tr>
</table>