<table cellpadding=5 cellspacing=1 bgcolor=black>
<form action="install.php?step=1" method=post>
<input size=30 type=hidden name="checkstep" value="2">
 <tr>
	<th colspan=2 align=left>Standard Tabellen</th>
 </tr>
 <tr>
	<td colspan=2 class="td_top" width=600>
		Hier können Sie <u><b>optional</b></u> die Namen der Tabellen ändern.<br>
		<b>Falls Sie nicht wissen was Sie hier machen sollen, fahren Sie bitte ohne Änderungen fort.</b>
	</td>
 </tr>
 <tr>
	<td class="td_left" width=400>
	<b>Avatar</b><br>
	<font class="lower">Speicherung der Benutzernbilder</font>
	</td>
	<td class="td_right" width=200><input size=30 type=text name="form[avatar]" value="swora_avatar"></td>
 </tr>
 <tr>
	<td class="td_leftb">
	<b>Config</b><br>
	<font class="lower">Speicherung der Konfiguration</font>
	</td>
	<td class="td_rightb"><input size=30 type=text name="form[config]" value="swora_config"></td>
 </tr>
 <tr>
	<td class="td_left">
	<b>Error</b><br>
	<font class="lower">Speicherung interner Fehler</font>
	</td>
	<td class="td_right"><input size=30 type=text name="form[error]" value="swora_error"></td>
 </tr>
 <tr>
	<td class="td_leftb">
	<b>Loader</b><br>
	<font class="lower">Tabelle für das Module "Loader"</font>
	</td>
	<td class="td_rightb"><input size=30 type=text name="form[loader]" value="swora_loader"></td>
 </tr>
 <tr>
	<td class="td_left">
	<b>Menu</b><br>
	<font class="lower">Speicherung des dynamischen Menus</font>
	</td>
	<td class="td_right"><input size=30 type=text name="form[menu]" value="swora_menu"></td>
 </tr>
 <tr>
	<td class="td_leftb">
	<b>News</b><br>
	<font class="lower">Speicherung der News</font>
	</td>
	<td class="td_rightb"><input size=30 type=text name="form[news]" value="swora_news"></td>
 </tr>
 <tr>
	<td class="td_left">
	<b>News Kommentare</b><br>
	<font class="lower">Speicherung der Kommentare für News</font>
	</td>
	<td class="td_right"><input size=30 type=text name="form[news_comments]" value="swora_news_comments"></td>
 </tr>
 <tr>
	<td class="td_leftb">
	<b>Online Messages</b><br>
	<font class="lower">Speicherung der Msgs für das interne Messaging System</font>
	</td>
	<td class="td_rightb"><input size=30 type=text name="form[onlinemessages]" value="swora_onlinemessages"></td>
 </tr>
 <tr>
	<td class="td_left">
	<b>Users</b><br>
	<font class="lower">Speicherung der Benutzer</font>
	</td>
	<td class="td_right"><input size=30 type=text name="form[user]" value="swora_user"></td>
 </tr>
 <tr>
	<td class="td_leftb">
	<b>Rechte</b><br>
	<font class="lower">Speicherung der Benutzerrechte</font>
	</td>
	<td class="td_rightb"><input size=30 type=text name="form[right]" value="swora_right"></td>
 </tr>
 <tr>
	<td class="td_left">
	<b>Smilies</b><br>
	<font class="lower">Speicherung der Smyilies</font>
	</td>
	<td class="td_right"><input size=30 type=text name="form[smilies]" value="swora_smilies"></td>
 </tr>
 <tr>
	<td class="td_leftb">
	<b>Module</b><br>
	<font class="lower">Speicherung verschiedener Module</font>
	</td>
	<td class="td_rightb"><input size=30 type=text name="form[sections]" value="swora_sections"></td>
 </tr>
 <tr>
	<td class="td_left">
	<b>Temp</b><br>
	<font class="lower">Speicherung temporärer Dateien</font>
	</td>
	<td class="td_right"><input size=30 type=text name="form[tmps]" value="swora_tmps"></td>
 </tr>
 <tr>
	<td class="td_leftb">
	<b>Traffic</b><br>
	<font class="lower">Speicherung des Traffics</font>
	</td>
	<td class="td_rightb"><input size=30 type=text name="form[traffic]" value="swora_traffic"></td>
 </tr>
 <tr>
	<td class="td_left">
	<b>Ftp</b><br>
	<font class="lower">Speicherung verschiedener Ftps</font>
	</td>
	<td class="td_right"><input size=30 type=text name="form[ftp]" value="swora_ftps"></td>
 </tr>
 <tr>
	<td class="td_leftb">
	<b>Benutzerzugriff auf Ftps</b><br>
	<font class="lower">Speicherung der Benutzerrechte für Ftps</font>
	</td>
	<td class="td_rightb"><input size=30 type=text name="form[upload_access]" value="swora_upload_access"></td>
 </tr>
  <tr>
	<td class="td_left">
	<b>Optionen der User</b><br>
	<font class="lower">System Einstellungen der User</font>
	</td>
	<td class="td_right"><input size=30 type=text name="form[user_options]" value="swora_useroptions"></td>
 </tr>
   <tr>
	<td class="td_leftb">
	<b>Hilfeeinträge</b><br>
	<font class="lowerb">Hilfe für den Umgang mit dem Admin (deutsch)</font>
	</td>
	<td class="td_right"><input size=30 type=text name="form[help]" value="swora_help"></td>
 </tr>
  </tr>
   <tr>
	<td class="td_leftb">
	<b>Benutzer Gästebuch</b><br>
	<font class="lowerb">Bietet für jeden Benutzer ein individiuelles Gästebuch</font>
	</td>
	<td class="td_right"><input size=30 type=text name="form[ugb]" value="swora_ugb"></td>
 </tr>

 <tr>
	<td align=center colspan=2 class="td_bottom"><input size=30 type=submit value="Tabellen erzeugen"></td>
 </tr>
</form>
</table>
