<?
/////////////////////////////
// DATENBANK ZUGANG
/////////////////////////////
	\$database[host] 	= "$dbdata[host]";			#### Host zur DatenBank ###########
	\$database[user] 	= "$dbdata[username]";		#### Benutzername der Datenbank ###
	\$database[pass] 	= "$dbdata[userpwd]";		#### Passwort der Datenbank #######
	\$database[db] 		= "$dbdata[db]";			#### Name der Datenbank ###########

/////////////////////////////
// EMAIL DES ADMINS
/////////////////////////////
	\$adminmail 		= "$admin[admin_mail]";		#### ADMINMAIL ####################

/////////////////////////////
// URL & NAME DER SEITE
/////////////////////////////
	\$title 			= "Swora Community"; 		#### TITLE ########################
	\$httpurl 		= "$admin[url]";				#### URL TO SITE ##################
	\$tab[config]		= "$configtab[configtab]";	#### DEFAULT TABLE ################
?>
