<table cellpadding=5 cellspacing=1 bgcolor=black>
 <tr>
	<th align=left>Konfigurationsdatei</th>
 </tr>
 <tr>
	<td class="td_top"><b>Tragen Sie nun diese Zeilen in die Datei <u>"./includes/inc.config.php"</u></b>
	<br>Beachten Sie hierbei bitte, dass keinesfalls ein Leerzeichen, vor oder hinter "&lt;?" bzw "?&gt" stehen darf.
	</td>
 </tr>
 <tr>
	<td class="td_left"><textarea readonly rows=22 cols=100 wrap=nowrap>$entry</textarea></td>
 </tr>
 <tr>
	<td class="td_bottom">Dann klicken Sie <a href="$admin[url]">hier</a></td>
 </tr>
</table>
